body {
    background-color: #fdf8f5;
}

  .nav-item a {
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }
  .nav-item a:hover {
    background-color: #eaeaea;
  }
  .skeleton {
    background-color: #eaeaea;
    border-radius: 4px;
    margin: 10px 0;
  }
  